{{#if this}}
    {{# this}}
        <div class="bg-white mb10">
            {{#each detailMap}}
                <ul class="goods-list  borderB has-express">
                    {{#each this}}
                        {{#ifCond @key "!=" "N"}}
                            <li class="goods-list-item bg-white" data-id="{{id}}">
                            <a external _href="/order/orderDetail.html?orderNo={{orderNo}}">
                                <div class="goods-list-img">
                                    <img src="{{goodsImgUrl}}">
                                </div>
                                <div class="goods-list-description">
                                    <div class="goods-list-title color-gray">
                                        <i class="iconfont fz18 color-orange mr5">&#xe646;</i>{{goodsName}}
                                    </div>
                                    <div class="fz12 color-gray">{{specify}}</div>
                                    <div class="color-gray">
                                        <span class="price mr5">￥{{salePrice}}</span>
                                        <span class="color-gray fz10 line-throuth">￥{{originalPrice}}</span>
                                    </div>
                                </div>
                            </a>
                            </li>
                            <li class="goods-list-item bg-white hide ar J-view-li">
                                <a class="f-btn f-btn-orange J-view" data-expressNo="{{expressNo}}" data-expressCode="{{expressCompanyName}}">查看物流</a>
                            </li>
                        {{/ifCond}}
                    {{/each}}
                </ul>
            {{/each}}
            <ul class="goods-list mb10">
                {{#each detailMap}}
                    {{#each this}}
                        {{#ifCond @key "==" "N"}}
                            <li class="goods-list-item bg-white" data-id="{{id}}">
                            <a external _href="/order/orderDetail.html?orderNo={{orderNo}}">
                                <div class="goods-list-img">
                                    <img src="{{goodsImgUrl}}">
                                </div>
                                <div class="goods-list-description">
                                    <div class="goods-list-title color-gray">
                                        <i class="iconfont fz18 color-orange mr5">&#xe646;</i>{{goodsName}}
                                    </div>
                                    <div class="fz12 color-gray">{{specify}}</div>
                                    <div class="color-gray">
                                        <span class="price mr5">￥{{salePrice}}</span>
                                        <span class="color-gray fz10 line-throuth">￥{{originalPrice}}</span>
                                    </div>
                                </div>
                            </a>
                            </li>
                        {{/ifCond}}
                    {{/each}}
                {{/each}}
            </ul>
            <div class="color-gray ar pd10 borderB">
                共计{{goodsCount}}件 合计：<span class="color-orange">￥{{totalPrice}}</span>
                (含运费￥{{expressCost}})
            </div>
            <div class="pd10 ar">
                {{#ifCond state "==" -1}}
                    已取消　
                    <a class="f-btn f-btn-gray J-delete" data-orderNo="{{orderNo}}">删除订单</a>
                {{/ifCond}}
                {{#ifCond state "==" 0}}
                    <a class="f-btn f-btn-gray mr5 J-cancle" data-orderNo="{{orderNo}}">取消订单</a>
                    <a class="f-btn f-btn-orange J-pay" data-orderNo="{{orderNo}}" paymentType="{{paymentType}}">立即付款</a>
                {{/ifCond}}
                {{#ifCond state "==" 1}}
                    已付款，等待卖家发货
                {{/ifCond}}
                {{#ifCond state "==" 2}}
                    卖家已发货,等待收货
                    <a class="f-btn f-btn-orange ml5 J-confirm" data-orderNo="{{orderNo}}"> 确认收货</a>
                {{/ifCond}}
                {{#ifCond state "==" 3}}
                    交易成功
                    <a class="f-btn f-btn-gray mr5 J-delete" data-orderNo="{{orderNo}}">删除订单</a>
                    <!-- a class="f-btn f-btn-orange J-comments">评价</a -->
                {{/ifCond}}
                {{#ifCond state "==" 5}}
                    退款申请中
                {{/ifCond}}
                {{#ifCond state "==" 5}}
                    退款处理中
                {{/ifCond}}
                {{#ifCond state "==" 7}}
                    退款完成
                    <a class="f-btn f-btn-gray mr5 J-delete" data-orderNo="{{orderNo}}">删除订单</a>
                {{/ifCond}}
            </div>
        </div>
    {{/this}}
{{else}}
    <div class="no-data">
        <p>暂无数据</p>
        <i class="iconfont">&#xe688;</i>
    </div>
{{/if}}