{{# goodsVOList}}
    <div class="col-50">
        <dl>
            <dt>
                <a class="external auto-img" _href="/goods/detail.html?goodsId={{id}}">
                    <img class="lazy" data-original="{{defaultImgUrl}}@1e_180w_180h_1c_0i_1o_90Q_1x.jpg">
                </a>
            </dt>
            <dd>
                <i class="iconfont fz18 color-orange mr5"></i>{{name}}
            </dd>
            <dd>
                <span class="price mr5">￥{{price}}</span>
                <span class="color-gray fz10 line-throuth">￥{{originalPrice}}</span>
            </dd>
        </dl>
    </div>
{{/goodsVOList}}